<%= render "layouts/header_article" %>
<div class="articles_boxs">
  <div class="article-detail">
    <% if @article.tags.present? %>

    <div class="mb-3">
      <p>関連タグ: <%= render 'articles/tags', article: @article %></p>
    </div>
    <% end %>
    <p>投稿者: <%= @article.user.name %></p>
    <h1><%= @article.title %></h1>
    <p>投稿日: <%= @article.created_at.strftime('%Y-%m-%d') %>  , 最終更新日: <%= @article.updated_at.strftime('%Y-%m-%d') %></p>
    <div id="like-btn<%= @article.id %>">
      <%= render partial: "likes/like", locals: { article: @article } %>
    </div>
    <div class="article-content">
      <%=@article.content %> 
    </div>
    <div class="article_image">
    <% if @article && @article.image.attached? %>
      <%= image_tag @article.image, class: 'article-image mb-3', size: '400x300' %>
    <% end %>
    </div>
  </div>
</div>
<%# コメント表示 %>
<div class="comments-cont">
  <div id="comments">
    <h4>＜コメント一覧＞</h4>
      <% @article.comments.each do |comment| %>
        <div class="comment">
          <p class="user-info"><%= comment.user.name %>： </p>
          <p><%= comment.text%></p>
        </div>
      <% end %>
  </div>

<%# コメントフォーム欄 %>
<div class="comment-form1">
  <% if user_signed_in? %>
    <%= form_with model: [@article, @comment], id: "comment-form" do |f| %>
      <%= f.text_area :text , class: "comment-text"%>
      <%= f.submit "コメントをする", class: "comment-submit1" %>
    <% end %>
  <% end %>
</div>
</div>
<div class="footer-protect">
 <%= render "layouts/footer" %>
</div>
