<%= render "layouts/header" %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-8">
      <h1 class="mb-4">マイページ</h1>
      <h2>登録情報</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th class="table-secondary w-25">氏名</th> 
            <td><%= @user.name %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">いいね記事一覧</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">下書き記事一覧</button>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
  <div class="article-info">
  <div class="articles">
<h1 class="centered-text">いいねした投稿一覧</h1>
  <% @like_articles.each do |article| %> 
  <div class="article" id=<%= article.id%>>
    <div class="article-box">
      <%= link_to article_path(article) do %>
      <div class ="article-box-info">
      <% if article.tags.present? %>
        <div class="mb-3">
          <%= render 'articles/tags', article: article %>
        </div>
      <% end %>
      <p class="article-name">
        <%= article.user.name %>
      </p>
      <p class="article-title">
        <%= article.title %>
      </p> 
      <p class="update-time">
        <%= article.updated_at.strftime('%Y-%m-%d') %>
      </p>
      </div>
      <div id="like-btn<%= article.id %>">
      <%= render partial: "likes/like", locals: { article: article } %>
      </div>
      <% end %>
    </div>
    </div>
  <% end %>
  </div>

  <%= paginate @like_articles %>
  </div>

  </div>



  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
  <div class="article-info">
  <div class="articles">
<h1 class="centered-text">下書き記事一覧</h1>
<% @drafts.each do |article| %>
<div class="article" id=<%= article.id%>> 
  <%= link_to edit_article_path(article), class: 'article-link' do %>
  <div class="article-box">
    <p class="article-name">
      <%= article.user.name %>
    </p>
    <p class="article-title">
      <%= article.title %>
    </p> 
    <p class="update-time">
      <%= article.updated_at.strftime('%Y-%m-%d') %>
    </p>
      <% end %>
  </div>
  </div>
<% end %>
</div>
</div>
</div>
<%= render "layouts/footer" %> 
</div>